main {
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

th {
    text-align: left;
    background-color: white;
}

table {
    border: solid 1px black;
}

table * {
    padding: 5px;
}

table td:nth-child(even){
    border: solid 1px black
}

table tr:nth-child(even) {
    background-color: lightgray;
}